@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* *{
  font-family: 'Outfit', sans-serif;
} */

*{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
